<!DOCTYPE html>
<html>
<head>
  <title>TeachTogetherApp</title>
  <link rel="stylesheet" type="text/css" href="/grid.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="col grid-1-8"></div>

 

<div class="col grid-6-8" id="main">
  

  <div class="nav-bar header section">
    <div class="logo">
      <img src="/images/logo.png">
    </div>

    <div class="nav">
      <ul>
        <li class="nav-links">
            <% if session[:user_id] %>
              <%= link_to "SIGN OUT", login_path, :method => :delete %>
              <% @user = User.find(session[:user_id]) %>
            <% end %>
        </li>
        <li class="nav-links"><a href="#contact-page">CREATE</a></li>
        <li class="nav-links"><a href="#resume-page">ABOUT</a></li>
        <li class="nav-links"><a href="#about-page">LOGIN</a></li>
        <li class="nav-links"><a href="#portfolio-page">SIGN UP</a></li>
        <li class="nav-links"><a href="#home-page">HOME</a></li>
      </ul>
    </div>
  </div>

 
 
  <%= yield %>
</div>



<div class="col grid-1-8"></div>
 
  

</body>
</html>
