<div class="main-content new-forums">  
  <h1>Create a New Forum Post</h1>
  <h3> For the <%= @network.network_name %> Network </h3>
  <div class = "form-new-forum">
    
    <%= form_for @forum, url: {action: 'create'} do |f| %>
  
      <%= f.hidden_field(:user_id, :value => @user.id) %>
      <%= f.hidden_field(:author, :value => @user.first_name) %>
      <%= f.hidden_field(:network_id, :value => @network.id) %>

      <p><%= f.label(:title, "Forum Title: ") %><br/></p>
      <%= f.text_field(:title, class: "forum-inputs") %><br/> 

      <p><%= f.label(:body, "Body: ") %><br/></p>
      <%= f.text_area(:body, class: "forum-body forum-inputs") %><br/><br/>


      <%= f.submit("Start New Forum", class: "new net-btn") %>
 
    <% end %>

    <a href="/networks/<%= @network.id %>" id="net-back-btn" class="new net-btn back">Back to Network Page</a>

  </div>
</div>
  