<%= form_for @unitplan, url: {action: 'create'} do |f| %>
  <%= f.hidden_field(:user_id, :value => @userid) %>
  <%= f.hidden_field(:network_id, :value => @networkid) %>
 
  <%= f.label(:title, "Title: ") %><br/>
  <%= f.text_field(:title, class: "up-input up-form") %><br/><br/>

  <%= f.label(:author, "Author: ") %><br/>
  <%= f.text_field(:author, class: 'up-form up-input') %><br/><br/>

  <%= f.label(:grade, "Grade: ") %><br/>
  <%= f.text_field(:grade, class: "up-input up-form") %><br/><br/>

  <%= f.label(:subject, "Subject: ") %><br/>
  <%= f.text_field(:subject, class: "up-input up-form") %><br/><br/>

  <%= f.label(:start, "Start Date: ") %><br/>
  <%= f.text_field(:start, class: "up-input up-form") %><br/><br/>

  <%= f.label(:ends, "End Date: ") %><br/>
  <%= f.text_field(:ends, class: "up-input up-form") %><br/><br/>

  <%= f.label(:description, "Description: ") %><br/>
  <%= f.text_area(:description, class: 'up-area up-form') %><br/><br/>

  <%= f.label(:big_idea, "Big Ideas: ") %><br/>
  <%= f.text_area(:big_idea, class: 'up-area up-form') %><br/><br/>

  <%= f.label(:essential_question, "Essential Questions: ") %><br/>
  <%= f.text_area(:essential_question, class: 'up-area up-form') %><br/><br/>

  <%= f.label(:standard, "Standards: ") %><br/>
  <%= f.text_area(:standard, class: 'up-area up-form') %><br/><br/>

  <%= f.label(:swbat, "Objectives (Students will be able to...): ") %><br/>
  <%= f.text_area(:swbat, class: 'up-area up-form') %><br/><br/>

  <%= f.label(:formal_assessment, "Formal Assessments: ") %><br/>
  <%= f.text_area(:formal_assessment, class: 'up-area up-form') %><br/><br/>

  <%= f.label(:informal_assessment, "Informal Assessments: ") %><br/>
  <%= f.text_area(:informal_assessment, class: 'up-area up-form') %><br/><br/>

  <%= f.label(:key_vocabulary, "Key Vocabulary: ") %><br/>
  <%= f.text_field(:key_vocabulary, class: 'up-area up-form') %><br/><br/>

  <%= f.label(:material, "Materials: ") %><br/>
  <%= f.text_field(:material, class: "up-input up-form") %><br/><br/>

  <p>Make this Unit Plan: </p>
  <%= f.radio_button(:is_public?, true) %>
  <%= f.label(:is_public?, "Public") %>
  <%= f.radio_button(:is_public?, false) %>
  <%= f.label(:is_public?, "Private") %>

  <br><br>
  <%= f.submit("New Unit Plan", class: "new net-btn up-btn") %>
<% end %> 