<div class="main-content">
  <div class="browse-units">
    <h1>Browse Public Unit Plans</h1>
    <% @unitplans.each do |unitplan| %>
      <ul>
        <li>
          <a href="/unit_plans/<%= unitplan.id %>"><h3><%= unitplan.title %></h3></a>
          <p>Created <%= time_ago_in_words(unitplan.created_at) %> ago by <%= unitplan.author %></p>
          <p>Grade: <%= unitplan.grade %> Subject: <%= unitplan.subject %></p>
        </li><br/>
      </ul>
    <% end %>
  </div>
</div>