<div class = "form-unit-plan">
  <%= form_tag "/unit_plans" do %>
    <%= label_tag(:title, "Title :") %><br>
    <%= text_field_tag(:title) %><br/>
  <br><br>
    <%= submit_tag("New Unit Plan") %>
  <% end %> 
</div>


  <ul>
    <li>
      <%= @unitplan.title %>
      <%= @unitplan.created_at %>
    </li>
  </ul>
