<h1><%= @unitplan.title %></h1>
<h3><b>By: </b><%= @unitplan.author %></h3>
<h5><b>Grade: </b><%= @unitplan.grade %></h5>
<h5><b>Subject: </b><%= @unitplan.subject %></h5>
<h5><b>Start Date: </b><%= @unitplan.start %></h5>
<h5><b>End Date: </b><%= @unitplan.ends %></h5>
<h5><b>Description: </b><%= @unitplan.description %></h5>
<p><b>Big Ideas: </b><%= @unitplan.big_idea %></p>
<p><b>Essential Questions: </b><%= @unitplan.essential_question %></p>
<p><b>Standards: </b><%= @unitplan.standard %></p>
<p><b>Students Will Be Able To: </b><%= @unitplan.swbat %></p>
<p><b>Formal Assessments: </b><%= @unitplan.formal_assessment %></p>
<p><b>Informal Assessments: </b><%= @unitplan.informal_assessment %></p>
<p><b>Key Vocabulary: </b><%= @unitplan.key_vocabulary %></p>
<p><b>Materials: </b><%= @unitplan.material %></p>
